html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h-80 {
	height: 80%;
}


.screen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 500px;
	/*border: 10px solid black;
	border-radius: .5em;
	background: #FFFFFF;*/
}

#rectangle {
	width: 200px;
	height:  200px;
	background: #FFDEFA;
	cursor: pointer;
	touch-action: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
	transform-origin:center;
}

.recognition-output {
	font-size: .8rem;
}

.recognition-output > div {
	flex-grow: 1;
}

.animate {
	transition: all 0.3s;
}
